extend layout

block content 
    div.content-col
        img(src=data.imgurl alt='Image showing what the part type looks like.')
        p #{data.name}
        p(style="width:40vw;") #{data.description}
        div.right_info
            div.admin-options
                a(href=data.update) Update #{datatype}
                a(href=data.delete) Delete #{datatype}