extends layout
block extra-stylings
    link(rel='stylesheet', href='/stylesheets/parts.css')

block content 
    div.parts-list
        each part in parts
            div.part
                img(src=part.imgurl)
                a(href=part.url class="part-name") #{part.name}
                p #{part.manufacturer.name}
                p $#{part.price.toFixed(2)}
