extends layout 

block content
    div.content-col
        h1 #{title}
        if part.length
            p You need to delete all parts labelled as #{type.name} before deleting it.
            a(href=type.all_parts_url) View the parts
        else
            p Are you sure you want to delete #{type.name}?
            form(method='POST' action='')
                input#id.form-control(type='hidden' name='typeid' required='true' value=type._id)
                button(type='submit') DELETE